@font-face {
    font-family: Norse-Bold;
    src: url("../Assets/Norse-Bold.otf") format("opentype");
}

body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.header{
    height: 100vh;
    width: 40vw;
    background-image: url("../Assets/lightscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 75%;
    position: relative;
}

.form-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}