@font-face {
    font-family: Norse-Bold;
    src: url("../Assets/Norse-Bold.otf") format("opentype");
}

html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.header{
    height: 100vh;
    width: 40vw;
    background-image: url("../Assets/lightscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 75%;
    position: relative;
}

.header__title{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

.header__title span{
    color: white;
    font-family: Norse-Bold;
    font-size: 7.5rem;
}

.header__credits{
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.5;
}

.header__credits a{
    color:white;
}

.form-container{
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container__blurb{
    padding: 0 0 0 40px;
    font-size: 1.25rem;
    font-weight: 600;
    width: 36vw;
}

.form{
    width: 100%;
}

.form__header{
    font-size: 1.25rem;
    margin: 0 0 40px 40px;
}

.form__content{
    padding: 16px 0 16px 0;
    box-shadow: 1px 2px 5px 3px rgb(216, 216, 216);
}

.form__controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 40px;
    font-size: 0.85rem;
}

.form__control{
    display: flex;
    flex-direction: column;
    flex-basis: 20vw;
    padding: 0 32px 16px 0;
}

.form__control label{
    color: rgb(86, 86, 86);
    font-size: 0.75rem;
    margin-bottom: 2px;
}

.form__control input:focus{
    border-color: rgb(106, 65, 232);
    outline: none;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 3px rgb(216, 216, 216);
}

.form__submit{
    margin: 40px 0 0 40px;
    color: white;
    background-color: rgb(106, 65, 232);
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    font-size: 0.95rem;
}

.login{
    margin-left: 40px;
}

.login__link{
    color: rgb(106, 65, 232);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
}